body,
.blocklySvg {
    background-color: #222 !important;
    background-image: url("https://camo.githubusercontent.com/5b8e4cd1a5ce69b6affa17ebd8e4aee00c147618/68747470733a2f2f7374796c6973687468656d65732e6769746875622e696f2f4769744875622d4461726b2f696d616765732f6261636b67726f756e64732f62672d63726f737368617463682e706e67");
     !important;
    background-clip: border-box !important;
    background-origin: padding-box !important;
    background-attachment: scroll !important;
    background-repeat: repeat !important;
    background-size: auto !important;
    background-position: left top !important;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

span#title {
    color: rgb(190, 190, 190);
}

span#title a {
    color: rgb(79, 140, 201);
}

span#title a:hover {
    color: rgb(204, 187, 68);
}

.blocklyFlyoutBackground {
    fill: rgb(28, 28, 28);
}

#clearDataPara {
    color: rgb(190, 190, 190);
}

.gaugeFront {
    stroke: rgb(0, 173, 216);
}